<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>744</integer>
    <key>capHeight</key>
    <integer>696</integer>
    <key>copyright</key>
    <string>Digitized data copyright 00A9 2012-2015, The Mozilla Foundation and Telefonica S.A.</string>
    <key>descender</key>
    <integer>-215</integer>
    <key>familyName</key>
    <string>Firer Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>name</key>
        <string>m</string>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>f1</string>
        <key>y</key>
        <integer>1050</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>smcp</string>
        <key>y</key>
        <integer>571</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2021/07/27 17:53:15</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>976</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-287</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Carrois Corporate &amp; Edenspiekermann AG</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.carrois.com</string>
    <key>openTypeNameManufacturer</key>
    <string>Carrois Corporate GbR &amp; Edenspiekermann AG</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.carrois.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Firer Sans</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Bold</string>
    <key>openTypeNameVersion</key>
    <string>Version 4.202</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>300</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>689</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-213</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>361</integer>
    <key>openTypeOS2VendorID</key>
    <string>CTDB</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>976</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>287</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.03963</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>744</integer>
      <integer>764</integer>
      <integer>696</integer>
      <integer>716</integer>
      <integer>571</integer>
      <integer>591</integer>
      <integer>534</integer>
      <integer>554</integer>
    </array>
    <key>postscriptFontName</key>
    <string>FiraSans-Bold</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Firer Sans Bold</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-227</integer>
      <integer>-207</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>142</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>198</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>styleMapFamilyName</key>
    <string>Firer Sans</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Fira Sans is a trademark of The Mozilla Corporation.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>202</integer>
    <key>xHeight</key>
    <integer>534</integer>
  </dict>
</plist>
