<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Oacute.loclPLK</key>
    <string>O_acute.loclP_L_K_.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>aacute.sc</key>
    <string>aacute.sc.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflex.sc</key>
    <string>acircumflex.sc.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.case</key>
    <string>acute.case.glif</string>
    <key>acute.case.loclPLK</key>
    <string>acute.case.loclP_L_K_.glif</string>
    <key>acute.loclPLK</key>
    <string>acute.loclP_L_K_.glif</string>
    <key>acute.sc</key>
    <string>acute.sc.glif</string>
    <key>acute.sc.loclPLK</key>
    <string>acute.sc.loclP_L_K_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.sc</key>
    <string>acutecomb.sc.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresis.sc</key>
    <string>adieresis.sc.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agrave.sc</key>
    <string>agrave.sc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.ss03</key>
    <string>ampersand.ss03.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>approxequal.osf</key>
    <string>approxequal.osf.glif</string>
    <key>approxequal.tf</key>
    <string>approxequal.tf.glif</string>
    <key>approxequal.tosf</key>
    <string>approxequal.tosf.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aring.sc</key>
    <string>aring.sc.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asciitilde.osf</key>
    <string>asciitilde.osf.glif</string>
    <key>asciitilde.tf</key>
    <string>asciitilde.tf.glif</string>
    <key>asciitilde.tosf</key>
    <string>asciitilde.tosf.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>atilde.sc</key>
    <string>atilde.sc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccedilla.sc</key>
    <string>ccedilla.sc.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedilla.case</key>
    <string>cedilla.case.glif</string>
    <key>cedilla.case.ALT</key>
    <string>cedilla.case.A_L_T_.glif</string>
    <key>cedilla.sc</key>
    <string>cedilla.sc.glif</string>
    <key>cedilla.sc.ALT</key>
    <string>cedilla.sc.A_L_T_.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cedillacomb.sc</key>
    <string>cedillacomb.sc.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.osf</key>
    <string>cent.osf.glif</string>
    <key>cent.tf</key>
    <string>cent.tf.glif</string>
    <key>cent.tosf</key>
    <string>cent.tosf.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>circumflex.sc</key>
    <string>circumflex.sc.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.sc</key>
    <string>circumflexcomb.sc.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>currency.osf</key>
    <string>currency.osf.glif</string>
    <key>currency.tf</key>
    <string>currency.tf.glif</string>
    <key>currency.tosf</key>
    <string>currency.tosf.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>dagger.osf</key>
    <string>dagger.osf.glif</string>
    <key>dagger.tf</key>
    <string>dagger.tf.glif</string>
    <key>dagger.tosf</key>
    <string>dagger.tosf.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>daggerdbl.osf</key>
    <string>daggerdbl.osf.glif</string>
    <key>daggerdbl.tf</key>
    <string>daggerdbl.tf.glif</string>
    <key>daggerdbl.tosf</key>
    <string>daggerdbl.tosf.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>degree.osf</key>
    <string>degree.osf.glif</string>
    <key>degree.tf</key>
    <string>degree.tf.glif</string>
    <key>degree.tosf</key>
    <string>degree.tosf.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.case</key>
    <string>dieresis.case.glif</string>
    <key>dieresis.sc</key>
    <string>dieresis.sc.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.sc</key>
    <string>dieresiscomb.sc.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.osf</key>
    <string>divide.osf.glif</string>
    <key>divide.tf</key>
    <string>divide.tf.glif</string>
    <key>divide.tosf</key>
    <string>divide.tosf.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.osf</key>
    <string>dollar.osf.glif</string>
    <key>dollar.tf</key>
    <string>dollar.tf.glif</string>
    <key>dollar.tosf</key>
    <string>dollar.tosf.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eacute.sc</key>
    <string>eacute.sc.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflex.sc</key>
    <string>ecircumflex.sc.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edieresis.sc</key>
    <string>edieresis.sc.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>egrave.sc</key>
    <string>egrave.sc.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.dnom</key>
    <string>equal.dnom.glif</string>
    <key>equal.numr</key>
    <string>equal.numr.glif</string>
    <key>equal.osf</key>
    <string>equal.osf.glif</string>
    <key>equal.tf</key>
    <string>equal.tf.glif</string>
    <key>equal.tosf</key>
    <string>equal.tosf.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eth.sc</key>
    <string>eth.sc.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>euro.osf</key>
    <string>euro.osf.glif</string>
    <key>euro.tf</key>
    <string>euro.tf.glif</string>
    <key>euro.tosf</key>
    <string>euro.tosf.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.sc</key>
    <string>fi.sc.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>figuredash.osf</key>
    <string>figuredash.osf.glif</string>
    <key>figuredash.tf</key>
    <string>figuredash.tf.glif</string>
    <key>figuredash.tosf</key>
    <string>figuredash.tosf.glif</string>
    <key>figurespace</key>
    <string>figurespace.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>fl.sc</key>
    <string>fl.sc.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.case</key>
    <string>grave.case.glif</string>
    <key>grave.sc</key>
    <string>grave.sc.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecomb.sc</key>
    <string>gravecomb.sc.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater.osf</key>
    <string>greater.osf.glif</string>
    <key>greater.tf</key>
    <string>greater.tf.glif</string>
    <key>greater.tosf</key>
    <string>greater.tosf.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>greaterequal.osf</key>
    <string>greaterequal.osf.glif</string>
    <key>greaterequal.tf</key>
    <string>greaterequal.tf.glif</string>
    <key>greaterequal.tosf</key>
    <string>greaterequal.tosf.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>iacute.sc</key>
    <string>iacute.sc.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>icircumflex.sc</key>
    <string>icircumflex.sc.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresis.sc</key>
    <string>idieresis.sc.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>igrave.sc</key>
    <string>igrave.sc.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>infinity.case</key>
    <string>infinity.case.glif</string>
    <key>infinity.osf</key>
    <string>infinity.osf.glif</string>
    <key>infinity.tf</key>
    <string>infinity.tf.glif</string>
    <key>infinity.tosf</key>
    <string>infinity.tosf.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>integral.osf</key>
    <string>integral.osf.glif</string>
    <key>integral.tf</key>
    <string>integral.tf.glif</string>
    <key>integral.tosf</key>
    <string>integral.tosf.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less.osf</key>
    <string>less.osf.glif</string>
    <key>less.tf</key>
    <string>less.tf.glif</string>
    <key>less.tosf</key>
    <string>less.tosf.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lessequal.osf</key>
    <string>lessequal.osf.glif</string>
    <key>lessequal.tf</key>
    <string>lessequal.tf.glif</string>
    <key>lessequal.tosf</key>
    <string>lessequal.tosf.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logicalnot.osf</key>
    <string>logicalnot.osf.glif</string>
    <key>logicalnot.tf</key>
    <string>logicalnot.tf.glif</string>
    <key>logicalnot.tosf</key>
    <string>logicalnot.tosf.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lozenge.osf</key>
    <string>lozenge.osf.glif</string>
    <key>lozenge.tf</key>
    <string>lozenge.tf.glif</string>
    <key>lozenge.tosf</key>
    <string>lozenge.tosf.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron.case</key>
    <string>macron.case.glif</string>
    <key>macron.sc</key>
    <string>macron.sc.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minus.dnom</key>
    <string>minus.dnom.glif</string>
    <key>minus.numr</key>
    <string>minus.numr.glif</string>
    <key>minus.osf</key>
    <string>minus.osf.glif</string>
    <key>minus.tf</key>
    <string>minus.tf.glif</string>
    <key>minus.tosf</key>
    <string>minus.tosf.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.osf</key>
    <string>multiply.osf.glif</string>
    <key>multiply.tf</key>
    <string>multiply.tf.glif</string>
    <key>multiply.tosf</key>
    <string>multiply.tosf.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>notequal.osf</key>
    <string>notequal.osf.glif</string>
    <key>notequal.tf</key>
    <string>notequal.tf.glif</string>
    <key>notequal.tosf</key>
    <string>notequal.tosf.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ntilde.sc</key>
    <string>ntilde.sc.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.osf</key>
    <string>numbersign.osf.glif</string>
    <key>numbersign.tf</key>
    <string>numbersign.tf.glif</string>
    <key>numbersign.tosf</key>
    <string>numbersign.tosf.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>oacute.loclPLK</key>
    <string>oacute.loclP_L_K_.glif</string>
    <key>oacute.sc</key>
    <string>oacute.sc.glif</string>
    <key>oacute.sc.loclPLK</key>
    <string>oacute.sc.loclP_L_K_.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflex.sc</key>
    <string>ocircumflex.sc.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresis.sc</key>
    <string>odieresis.sc.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ograve.sc</key>
    <string>ograve.sc.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordfeminine.001</key>
    <string>ordfeminine.001.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>ordmasculine.001</key>
    <string>ordmasculine.001.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>otilde.sc</key>
    <string>otilde.sc.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenleft.dnom</key>
    <string>parenleft.dnom.glif</string>
    <key>parenleft.numr</key>
    <string>parenleft.numr.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>parenright.dnom</key>
    <string>parenright.dnom.glif</string>
    <key>parenright.numr</key>
    <string>parenright.numr.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>partialdiff.osf</key>
    <string>partialdiff.osf.glif</string>
    <key>partialdiff.tf</key>
    <string>partialdiff.tf.glif</string>
    <key>partialdiff.tosf</key>
    <string>partialdiff.tosf.glif</string>
    <key>pe-cy.sc</key>
    <string>pe-cy.sc.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.osf</key>
    <string>percent.osf.glif</string>
    <key>percent.tf</key>
    <string>percent.tf.glif</string>
    <key>percent.tosf</key>
    <string>percent.tosf.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>perthousand.osf</key>
    <string>perthousand.osf.glif</string>
    <key>perthousand.tf</key>
    <string>perthousand.tf.glif</string>
    <key>perthousand.tosf</key>
    <string>perthousand.tosf.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pi.sc</key>
    <string>pi.sc.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.dnom</key>
    <string>plus.dnom.glif</string>
    <key>plus.numr</key>
    <string>plus.numr.glif</string>
    <key>plus.osf</key>
    <string>plus.osf.glif</string>
    <key>plus.tf</key>
    <string>plus.tf.glif</string>
    <key>plus.tosf</key>
    <string>plus.tosf.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>plusminus.osf</key>
    <string>plusminus.osf.glif</string>
    <key>plusminus.tf</key>
    <string>plusminus.tf.glif</string>
    <key>plusminus.tosf</key>
    <string>plusminus.tosf.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>product.osf</key>
    <string>product.osf.glif</string>
    <key>product.tf</key>
    <string>product.tf.glif</string>
    <key>product.tosf</key>
    <string>product.tosf.glif</string>
    <key>punctuationspace</key>
    <string>punctuationspace.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>radical.osf</key>
    <string>radical.osf.glif</string>
    <key>radical.tf</key>
    <string>radical.tf.glif</string>
    <key>radical.tosf</key>
    <string>radical.tosf.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring.case</key>
    <string>ring.case.glif</string>
    <key>ring.sc</key>
    <string>ring.sc.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ringcomb.sc</key>
    <string>ringcomb.sc.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>section.osf</key>
    <string>section.osf.glif</string>
    <key>section.tf</key>
    <string>section.tf.glif</string>
    <key>section.tosf</key>
    <string>section.tosf.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>softhyphen.case</key>
    <string>softhyphen.case.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space.frac</key>
    <string>space.frac.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
    <key>sterling.tf</key>
    <string>sterling.tf.glif</string>
    <key>sterling.tosf</key>
    <string>sterling.tosf.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>summation.osf</key>
    <string>summation.osf.glif</string>
    <key>summation.tf</key>
    <string>summation.tf.glif</string>
    <key>summation.tosf</key>
    <string>summation.tosf.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>tilde.sc</key>
    <string>tilde.sc.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.sc</key>
    <string>tildecomb.sc.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>uacute.sc</key>
    <string>uacute.sc.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>ucircumflex.sc</key>
    <string>ucircumflex.sc.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresis.sc</key>
    <string>udieresis.sc.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>ugrave.sc</key>
    <string>ugrave.sc.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yacute.sc</key>
    <string>yacute.sc.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydieresis.sc</key>
    <string>ydieresis.sc.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.osf</key>
    <string>yen.osf.glif</string>
    <key>yen.tf</key>
    <string>yen.tf.glif</string>
    <key>yen.tosf</key>
    <string>yen.tosf.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.osf.zero</key>
    <string>zero.osf.zero.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
