<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>include</key>
        <array>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Adieresis</string>
          <string>Agrave</string>
          <string>Aring</string>
          <string>Atilde</string>
          <string>Ccedilla</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Egrave</string>
          <string>Eth</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Igrave</string>
          <string>Ntilde</string>
          <string>Oacute</string>
          <string>Oacute.loclPLK</string>
          <string>Ocircumflex</string>
          <string>Odieresis</string>
          <string>Ograve</string>
          <string>Otilde</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Ugrave</string>
          <string>Yacute</string>
          <string>aacute</string>
          <string>aacute.sc</string>
          <string>acircumflex</string>
          <string>acircumflex.sc</string>
          <string>acute.case</string>
          <string>acute.sc</string>
          <string>acutecomb.sc</string>
          <string>adieresis</string>
          <string>adieresis.sc</string>
          <string>agrave</string>
          <string>agrave.sc</string>
          <string>aring</string>
          <string>aring.sc</string>
          <string>atilde</string>
          <string>atilde.sc</string>
          <string>ccedilla</string>
          <string>ccedilla.sc</string>
          <string>cedilla.case</string>
          <string>cedilla.sc</string>
          <string>cedillacomb.case</string>
          <string>cedillacomb.sc</string>
          <string>circumflex</string>
          <string>circumflex.case</string>
          <string>circumflex.sc</string>
          <string>circumflexcomb.sc</string>
          <string>dieresis.case</string>
          <string>dieresis.sc</string>
          <string>dieresiscomb.case</string>
          <string>dieresiscomb.sc</string>
          <string>eacute</string>
          <string>eacute.sc</string>
          <string>ecircumflex</string>
          <string>ecircumflex.sc</string>
          <string>edieresis</string>
          <string>edieresis.sc</string>
          <string>egrave</string>
          <string>egrave.sc</string>
          <string>eth.sc</string>
          <string>grave</string>
          <string>grave.case</string>
          <string>grave.sc</string>
          <string>gravecomb.sc</string>
          <string>i</string>
          <string>iacute</string>
          <string>iacute.sc</string>
          <string>icircumflex</string>
          <string>icircumflex.sc</string>
          <string>idieresis</string>
          <string>idieresis.sc</string>
          <string>igrave</string>
          <string>igrave.sc</string>
          <string>j</string>
          <string>macron.case</string>
          <string>macron.sc</string>
          <string>ntilde</string>
          <string>ntilde.sc</string>
          <string>oacute</string>
          <string>oacute.loclPLK</string>
          <string>oacute.sc</string>
          <string>oacute.sc.loclPLK</string>
          <string>ocircumflex</string>
          <string>ocircumflex.sc</string>
          <string>odieresis</string>
          <string>odieresis.sc</string>
          <string>ograve</string>
          <string>ograve.sc</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>otilde</string>
          <string>otilde.sc</string>
          <string>pi.sc</string>
          <string>ring.case</string>
          <string>ring.sc</string>
          <string>ringcomb.case</string>
          <string>ringcomb.sc</string>
          <string>tilde.case</string>
          <string>tilde.sc</string>
          <string>tildecomb.case</string>
          <string>tildecomb.sc</string>
          <string>uacute</string>
          <string>uacute.sc</string>
          <string>ucircumflex</string>
          <string>ucircumflex.sc</string>
          <string>udieresis</string>
          <string>udieresis.sc</string>
          <string>ugrave</string>
          <string>ugrave.sc</string>
          <string>yacute</string>
          <string>yacute.sc</string>
          <string>ydieresis</string>
          <string>ydieresis.sc</string>
        </array>
        <key>name</key>
        <string>propagateAnchors</string>
        <key>pre</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>com.ht.spacer.area</key>
    <integer>360</integer>
    <key>com.ht.spacer.depth</key>
    <integer>20</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Z</string>
      <string>Oacute.loclPLK</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>j</string>
      <string>dotlessj</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>z</string>
      <string>g.alt1</string>
      <string>oacute.loclPLK</string>
      <string>fi</string>
      <string>fl</string>
      <string>oacute.sc.loclPLK</string>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
      <string>ae.sc</string>
      <string>b.sc</string>
      <string>c.sc</string>
      <string>ccedilla.sc</string>
      <string>d.sc</string>
      <string>eth.sc</string>
      <string>e.sc</string>
      <string>eacute.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>egrave.sc</string>
      <string>f.sc</string>
      <string>fi.sc</string>
      <string>fl.sc</string>
      <string>g.sc</string>
      <string>h.sc</string>
      <string>i.sc</string>
      <string>iacute.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>igrave.sc</string>
      <string>j.sc</string>
      <string>k.sc</string>
      <string>l.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
      <string>ntilde.sc</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>oslash.sc</string>
      <string>otilde.sc</string>
      <string>oe.sc</string>
      <string>p.sc</string>
      <string>thorn.sc</string>
      <string>q.sc</string>
      <string>r.sc</string>
      <string>s.sc</string>
      <string>germandbls.sc</string>
      <string>t.sc</string>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>v.sc</string>
      <string>w.sc</string>
      <string>x.sc</string>
      <string>y.sc</string>
      <string>yacute.sc</string>
      <string>ydieresis.sc</string>
      <string>z.sc</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Delta</string>
      <string>Omega</string>
      <string>mu</string>
      <string>pi</string>
      <string>pi.sc</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.zero</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.osf.zero</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tf.zero</string>
      <string>zero.tosf</string>
      <string>one.tosf</string>
      <string>two.tosf</string>
      <string>three.tosf</string>
      <string>four.tosf</string>
      <string>five.tosf</string>
      <string>six.tosf</string>
      <string>seven.tosf</string>
      <string>eight.tosf</string>
      <string>nine.tosf</string>
      <string>zero.tosf.zero</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>numbersign.osf</string>
      <string>numbersign.tf</string>
      <string>numbersign.tosf</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>figuredash</string>
      <string>underscore</string>
      <string>hyphen.case</string>
      <string>softhyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>figuredash.osf</string>
      <string>figuredash.tf</string>
      <string>figuredash.tosf</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>guillemetleft.case</string>
      <string>guillemetright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>parenleft.dnom</string>
      <string>parenright.dnom</string>
      <string>parenleft.numr</string>
      <string>parenright.numr</string>
      <string>figurespace</string>
      <string>punctuationspace</string>
      <string>space</string>
      <string>nbspace</string>
      <string>zerowidthspace</string>
      <string>space.frac</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>cent.osf</string>
      <string>currency.osf</string>
      <string>dollar.osf</string>
      <string>euro.osf</string>
      <string>sterling.osf</string>
      <string>yen.osf</string>
      <string>cent.tf</string>
      <string>currency.tf</string>
      <string>dollar.tf</string>
      <string>euro.tf</string>
      <string>sterling.tf</string>
      <string>yen.tf</string>
      <string>cent.tosf</string>
      <string>currency.tosf</string>
      <string>dollar.tosf</string>
      <string>euro.tosf</string>
      <string>sterling.tosf</string>
      <string>yen.tosf</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>emptyset</string>
      <string>infinity</string>
      <string>integral</string>
      <string>Ohm</string>
      <string>increment</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>micro</string>
      <string>partialdiff</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>infinity.case</string>
      <string>plus.osf</string>
      <string>minus.osf</string>
      <string>multiply.osf</string>
      <string>divide.osf</string>
      <string>equal.osf</string>
      <string>notequal.osf</string>
      <string>greater.osf</string>
      <string>less.osf</string>
      <string>greaterequal.osf</string>
      <string>lessequal.osf</string>
      <string>plusminus.osf</string>
      <string>approxequal.osf</string>
      <string>asciitilde.osf</string>
      <string>logicalnot.osf</string>
      <string>infinity.osf</string>
      <string>integral.osf</string>
      <string>product.osf</string>
      <string>summation.osf</string>
      <string>radical.osf</string>
      <string>partialdiff.osf</string>
      <string>percent.osf</string>
      <string>perthousand.osf</string>
      <string>plus.tf</string>
      <string>minus.tf</string>
      <string>multiply.tf</string>
      <string>divide.tf</string>
      <string>equal.tf</string>
      <string>notequal.tf</string>
      <string>greater.tf</string>
      <string>less.tf</string>
      <string>greaterequal.tf</string>
      <string>lessequal.tf</string>
      <string>plusminus.tf</string>
      <string>approxequal.tf</string>
      <string>asciitilde.tf</string>
      <string>logicalnot.tf</string>
      <string>infinity.tf</string>
      <string>integral.tf</string>
      <string>product.tf</string>
      <string>summation.tf</string>
      <string>radical.tf</string>
      <string>partialdiff.tf</string>
      <string>percent.tf</string>
      <string>perthousand.tf</string>
      <string>plus.tosf</string>
      <string>minus.tosf</string>
      <string>multiply.tosf</string>
      <string>divide.tosf</string>
      <string>equal.tosf</string>
      <string>notequal.tosf</string>
      <string>greater.tosf</string>
      <string>less.tosf</string>
      <string>greaterequal.tosf</string>
      <string>lessequal.tosf</string>
      <string>plusminus.tosf</string>
      <string>approxequal.tosf</string>
      <string>asciitilde.tosf</string>
      <string>logicalnot.tosf</string>
      <string>infinity.tosf</string>
      <string>integral.tosf</string>
      <string>product.tosf</string>
      <string>summation.tosf</string>
      <string>radical.tosf</string>
      <string>partialdiff.tosf</string>
      <string>percent.tosf</string>
      <string>perthousand.tosf</string>
      <string>lozenge</string>
      <string>lozenge.osf</string>
      <string>lozenge.tf</string>
      <string>lozenge.tosf</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>literSign</string>
      <string>daggerdbl</string>
      <string>numero</string>
      <string>estimated</string>
      <string>section.osf</string>
      <string>degree.osf</string>
      <string>dagger.osf</string>
      <string>daggerdbl.osf</string>
      <string>ampersand.ss03</string>
      <string>section.tf</string>
      <string>degree.tf</string>
      <string>dagger.tf</string>
      <string>daggerdbl.tf</string>
      <string>section.tosf</string>
      <string>degree.tosf</string>
      <string>dagger.tosf</string>
      <string>daggerdbl.tosf</string>
      <string>plus.dnom</string>
      <string>minus.dnom</string>
      <string>equal.dnom</string>
      <string>plus.numr</string>
      <string>minus.numr</string>
      <string>equal.numr</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>dieresis</string>
      <string>grave</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>cedilla.case.ALT</string>
      <string>cedilla.sc.ALT</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>cedillacomb.case</string>
      <string>dieresis.case</string>
      <string>grave.case</string>
      <string>acute.case</string>
      <string>circumflex.case</string>
      <string>ring.case</string>
      <string>tilde.case</string>
      <string>macron.case</string>
      <string>cedilla.case</string>
      <string>acute.loclPLK</string>
      <string>acute.case.loclPLK</string>
      <string>acute.sc.loclPLK</string>
      <string>dieresiscomb.sc</string>
      <string>gravecomb.sc</string>
      <string>acutecomb.sc</string>
      <string>circumflexcomb.sc</string>
      <string>ringcomb.sc</string>
      <string>tildecomb.sc</string>
      <string>cedillacomb.sc</string>
      <string>dieresis.sc</string>
      <string>grave.sc</string>
      <string>acute.sc</string>
      <string>circumflex.sc</string>
      <string>ring.sc</string>
      <string>tilde.sc</string>
      <string>macron.sc</string>
      <string>cedilla.sc</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Delta</key>
      <string>uni0394</string>
      <key>Ohm</key>
      <string>uni2126</string>
      <key>Omega</key>
      <string>uni03A9</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>cedillacomb.sc</key>
      <string>uni0327.sc</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.sc</key>
      <string>uni0302.sc</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.sc</key>
      <string>uni0308.sc</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dotlessj</key>
      <string>uni0237</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>euro.osf</key>
      <string>Euro.osf</string>
      <key>euro.tf</key>
      <string>Euro.tf</string>
      <key>euro.tosf</key>
      <string>Euro.tosf</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetleft.case</key>
      <string>guillemotleft.case</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>guillemetright.case</key>
      <string>guillemotright.case</string>
      <key>increment</key>
      <string>uni2206</string>
      <key>literSign</key>
      <string>uni2113</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>ringcomb.sc</key>
      <string>uni030A.sc</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>softhyphen.case</key>
      <string>uni00AD.case</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
  </dict>
</plist>
